@import url('./reset.css'); /*Global Reset CSS file*/
@import url('./header.css');/*Importing header styles*/
@import url('./footer.css'); /*Importing footer styles*/

body {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

/*===== HERO =====*/
.main-header {
    width: 100%;
    height: 309px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-blue);
    font-size: 64px;
    font-weight: 800;
    color: var(--primary-yellow);
    background-image: url(../assets/Images/headerBG.png);
    background-size: cover;
}

/*===== ABOUT SECTION =====*/
.about-us {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    background-color: var(--light-yellow);
    gap: 50px;
}

.about-us-section {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.about-text {
    color: var(--primary-yellow);
    font-size: 64px;
    font-weight: 800;
}

.about-desc {
    width: 602px;
    font-size: 24px;
    height: 354px;
}

.graphic-column {
    width: 560px;
    height: 356px;
}

.reverse {
    flex-direction: row-reverse;
    text-align: end;
}

/*===== CORE VALUES STYLES =====*/
#core-values {
    width: 1544px;
    height: 1052px;
    background-image: url(../assets/Images/valuesBG.png);
    background-color: var(--primary-yellow);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/*===== MOBILE STYLES =====*/
@media (max-width: 768px) {
    .about-us {
        padding: 30px 20px;
        gap: 40px;
    }

    .about-us-section {
        flex-direction: column-reverse !important;
        gap: 30px;
    }

    .text-column,
    .graphic-column {
        width: 100%;
        min-width: 100%;
    }
    
    .about-text {
        font-size: 40px;
        padding-left: 0 !important;
        padding-right: 0 !important;
        text-align: center;
    }

    .about-desc {
        width: 100%;
        height: auto;
        font-size: 18px;
    }
    
    .text-column {
        text-align: center !important;
    }

    .graphic-column {
        height: 200px;
    }

    .main-header {
        height: 150px;
        font-size: 40px;
    }

    .reverse {
        text-align: center;
    }

    .graphic-column {
        height: 20rem;
    }
}