.site-header {
    width: 100%;
    display: flex;
    height: 81px;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-blue);
}

.header-list {
    display: flex;
    gap: 100px;
}

.header-list li {
    list-style-type: none;
    font-size: 1rem;
}

.header-list a {
    text-decoration: none;
    color: var(--white);
}

.header-logo {
    width: 186px;
    height: 53px;
}

.header-btn {
    padding: 15px 20px;
    background-color: var(--primary-yellow);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

@media (max-width: 900px) {
    .site-header {
        justify-content: space-between; 
        padding: 0 5%;
    }

    .header-list {
        display: none;
    }

    .header-btn {
        padding: 10px 15px;
        font-size: 0.9rem;
    }
}