@import url('./reset.css'); /*Global Reset CSS file*/
@import url('./header.css');/*Importing header styles*/
@import url('./footer.css'); /*Importing footer styles*/

:root {
    --primary-yellow: #EA9F1E;
    --primary-blue: #023352;
    --deep-navy: #F7F9FA;
    --soft-blue: #5DA7D1;
    --white: #ffffff; 
    --soft-white: ;
    --dark-grey: ; 
    --mid-grey: ;  
    --blue-black: #010E13;
    --light-yellow: #FFFAF1;
    --light-blue: #CFE2EC; 
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--light-yellow);
}

.home-intro{
    display: flex;
    gap: 6%;
}

#intro-text{
    position: relative;
    top:80px;
    left:100px;
}

#intro-img{
    position: relative;
    top:-35px;
    margin:0 17px 0 0;
}

#intro-text span{
    color:var(--primary-yellow);
    font-weight:bolder;
    font-size: 54px;
}

#intro-text h1{
    color:var(--blue-black);
    font-weight:bolder;
    font-size: 64px;
}

#intro-text p{
    margin:10px 0;
    font-size: 24px;
    line-height: 130%;
}

 .btn-intro{
    display:flex;
    margin:8% 0 2% 0;
    gap:15%;
 }

 i{
    font-size:20px;
 }
 #btn-apply{
    padding:15px 25px;
    border-radius: 8px;
    background-color: var(--primary-yellow);
    border:none;
    font-weight: bold;
    font-size: 24px;
    cursor:pointer;
    transition:0.6s;
 }

 #btn-explore{
    padding:15px 25px;
    border-radius: 8px;
    background-color: var(--light-yellow);
    border:2px solid var(--primary-blue) ;
    font-weight: bold;
    font-size: 24px;
    cursor:pointer;
    transition:0.6s;
 }

 #btn-apply:hover{
    background-color: var(--primary-blue);
    color:var(--light-yellow);
 }
 #btn-explore:hover{
    background-color: var(--primary-yellow);
    color:var(--blue-black);
    border:var(--primary-yellow);
 }

#accomplishment{
    position: relative;
    top:-60px;
    width: auto;
    height: auto;
    border-radius: 40px;
    background-color:var(--deep-navy);
    margin:0 3%;
    box-shadow: 1px 1px 10px 1px var(--blue-black);
}

 .list{
    display:flex;
    gap:9%;
    margin:3% 2% 2% 7%;
 }

 .demacation{
    display:flex;
 }

 .section-offers{
    margin: 0 0 0 100px;
 }

 .section-offers h2{
font-size: 38px;
padding:20px 0;
 }

 .section-offers p{
    font-size:24px;
 }

 .grid-layout{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  max-width: 1400px;
  margin:4% 100px;
 }

 #card{
    background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  padding: 25px;
  transition: transform 0.2s;

 }

 #card:hover {
  transform: translateY(-5px);
}

#card img{
    padding: 5% 0 10% 0;
}

 #card h3{
    font-size:25px;
    font-weight: bolder;
    padding:2% 0 7% 0;
 }

 #card p{
    font-size:18px;
    padding: 2% 0 10% 0;
 }

 .home-tracks{
    background-color: #fff;
 }

 .home-tracks h1{
    font-size: 40px;
    font-weight: bold;
    margin: 2% 100px;

 }
 .track-list{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  max-width: 1400px;
  margin:4% 100px;
 }

 .track-card{
   background:var(--light-yellow);
  border-radius: 25px 20px 20px 20px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;
      overflow: hidden;

 }

 .mini{
    margin: 6% 4%;
    background-color: var(--light-blue);
    width: 45%;
    padding:2% 5%;
    text-align:center;
    border-radius: 18px;
    font-size: 14px;
    font-weight: bold;
 }
 .mini-2{
    margin: 6% 4%;
    background-color: #fff1d8;
    width: 45%;
    padding:2% 5%;
    text-align:center;
    border-radius: 18px;
    font-size: 14px;
    font-weight: bold;
 }
 .mini-3{
    margin: 6% 4%;
    background-color:#DECFEC;
    width: 45%;
    padding:2% 5%;
    text-align:center;
    border-radius: 18px;
    font-size: 14px;
    font-weight: bold;
 }

 .track-card h4{
    font-size: 22px;
        margin: 6% 6%;

 }
 .track-card p{
    font-size: 18px;
        margin: 6% 0% 6% 6% ;
 }

 hr{
    border: 1px solid var(--blue-black);
    width:auto;
    margin: 12% 4% 4% 4%;
 }

 .link{
    display:flex;
     margin: 4% 6% 6% 6%;
 }

 .link a{
    text-decoration:none;
    color:var(--primary-yellow);
 }

 .why-choose-us{
    margin: 7% 0 0 0;
    background-color: #fff;
 }

 #heading{
    text-align: center;
 }

 #heading h1{
    font-size: 45px;
    font-weight: bold;
    margin:5% 0 1% 0;
 }
 #heading p{
    font-size: 26px;
    margin-bottom: 10%;
 }

 .benefit-list{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5%;
  max-width: 1200px;
  margin:4%;
    justify-content: center;
 }

 #benefits{
    text-align: center;
 }

 #benefits h3{
    margin: 6%;
 }