:root {
    --primary-yellow: #EA9F1E;
    --primary-blue: #023352;
    --deep-navy: #011E2A;
    --soft-blue: #5DA7D1;
    --white: #ffffff; 
    --soft-white: ;
    --dark-grey: ; 
    --mid-grey: ;  
    --blue-black: #010E13;
    --light-yellow: #FFFAF1;
    --light-blue: #CFE2EC; 
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}