@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-yellow: #ea9f1e;
  --primary-blue: #023352;
  --deep-navy: #011e2a;
  --soft-blue: #5da7d1;
  --white: #ffffff;
  --off-white: #f7f9fa;
  --soft-white: ;
  --dark-grey: ;
  --mid-grey: ;
  --blue-black: #010e13;
  --light-yellow: #fffaf1;
  --light-blue: #cfe2ec;
}

body.no-scroll {
  overflow: hidden;
  height: 100vh;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "Segoe UI", sans-serif;
}